.filters-widget {
  .title {
    color: $text-dark;
  }

  .filters-item {
    display: flex;
    align-items: center;
    margin: 5px 0;

    &-title {
      margin-right: 10px;
      color: $text-medium;
    }

    &-element {
      flex: 1;
    }
  }
}