.users {
  .ant-table-body {
    overflow-x: auto;
  }

  .ant-table-placeholder {
    background: $layout-medium;
    color: $text-light;
    border: none;
  }

  .ant-table table {
    border-spacing: 0 5px;
    margin-top: -5px;

    th, td {
      color: $text-medium;
      border-bottom: none;
      background: $layout-medium;
      white-space: nowrap;
    }

    th {
      background: $layout-light;
      font-weight: 300;
    }

    td {
      padding: 8px 16px;
    }

    .info-field {
      &-name {
        color: $text-light;
        font-size: 16px;
      }

      &-email,
      &-phone {
        color: $text-dark;
        font-size: 12px;
      }
    }

    .phone-field {
      font-size: 12px;
    }

    .progress-field {
      .ant-progress-outer {
        min-width: 100px;
      }

      .ant-progress-inner {
        height: 4px;
        background: $chart-dark;

        .ant-progress-bg {
          height: 4px !important;
          background: $chart-main;
        }
      }

      .ant-progress-text {
        color: $text-medium;
        font-size: 12px;
        padding-left: 5px;
      }
    }
  }

  .ant-pagination {
    li:not(.ant-pagination-jump-next) {
      border: none;
      background: $layout-medium;

      a {
        background: $layout-medium;
        color: $text-medium;
      }
    }

    .ant-pagination-item-link {
      border: none;
    }

    .ant-select-selection,
    .ant-select-selection--single,
    .ant-select-arrow {
      box-shadow: none;
      background: $layout-medium;
      color: $text-medium;
      border: none;
    }

    .ant-pagination-jump-prev:after, 
    .ant-pagination-jump-next:after,
    .ant-select-dropdown-menu-item {
      color: $text-medium;
    }

    .ant-pagination-item-active,
    .ant-pagination-item-active a {
      background: lighten($layout-light, 5%) !important;
    }
  }

  .ant-table-column-sorter i {
    color: $text-light;
  }

  .light-icon {
    margin-left: 20px;
  }
}