.loader {
  font-size: 12px;
  margin-top: 5px;

  i {
    margin-right: 5px;
  }
}

.load-more {
  font-size: 12px;
  margin-top: 5px;
  cursor: pointer;

  i {
    margin-right: 10px;
    font-size: 12px;
  }
}