@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100');


body {
  font-family: $font-main;
  color: $text-medium;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  color: lighten($text-medium, 15%);
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;

  &.align {
    &-center {
      align-items: center;
    }

    &.-end {
      align-items: flex-end;
    }
  }

  &.justify {
    &-center {
      justify-content: center;
    }

    &-end {
      justify-content: flex-end;
    }
  }
  
}

.ant-switch-checked {
  background-color: #454e55;
}

.scroll-element {
  > div:first-child {
    margin-right: -17px !important;
    margin-bottom: -17px !important;
  }

  > div:nth-child(2) {
    display: none;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}