#geo-chart {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-progress-inner {
  height: 2px;
  background: $chart-dark;

  .ant-progress-bg {
    height: 2px !important;
    background: $chart-main;
  }
}

.ant-progress-text {
  color: $text-dark;
  font-size: 12px;
}