.profile-menu {
  .user-name {
    color: $text-light;
  }

  .user-email {
    color: $text-dark;
    font-size: 12px;
  }

  .logout {
    i {
      margin-right: 10px;
      font-size: 12px;
    }
  }
}