/*Colors*/
/*Shadows*/
/*Borders*/
/*Map style*/
/*Options: Siver Dark Night Blue*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
:export {
  layoutDark: #1f2f39;
  layoutMedium: #233440;
  layoutLight: #2a3c48;
  textDark: #76838f;
  textMedium: #a0a9b1;
  textLight: #bcc2c8;
  chartMain: #166e7d;
  chartDark: #5c8cab;
  chartMedium: #166e7d;
  chartLight: #41C3F9;
  yellow: #d5c723;
  green: #4accc3;
  blue: #318DCE;
  purple: #758df8;
  red: #C14848;
  mapTheme: normal; }

body {
  font-family: "Open Sans", sans-serif;
  color: #a0a9b1;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  color: #cacfd3; }

.ml-auto {
  margin-left: auto; }

.mr-auto {
  margin-right: auto; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.text-center {
  text-align: center; }

.flex {
  display: flex; }
  .flex.align-center {
    align-items: center; }
  .flex.align.-end {
    align-items: flex-end; }
  .flex.justify-center {
    justify-content: center; }
  .flex.justify-end {
    justify-content: flex-end; }

.ant-switch-checked {
  background-color: #454e55; }

.scroll-element > div:first-child {
  margin-right: -17px !important;
  margin-bottom: -17px !important; }

.scroll-element > div:nth-child(2) {
  display: none; }

.ant-layout-header {
  height: 54px;
  line-height: 54px;
  display: flex;
  align-items: center;
  padding: 0;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #233440;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.03); }
  .ant-layout-header .trigger {
    margin-left: 15px;
    cursor: pointer; }
  .ant-layout-header .header-menu {
    border-bottom: none;
    display: flex; }
    .ant-layout-header .header-menu .header-menu-item {
      padding: 0 20px;
      white-space: nowrap;
      cursor: pointer; }

.main-sidebar {
  z-index: 2;
  background: #233440;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.03);
  position: fixed;
  min-height: 100vh;
  padding-top: 54px; }
  .main-sidebar .ant-menu-dark {
    background: #233440; }
    .main-sidebar .ant-menu-dark .ant-menu-item-selected {
      background: #2a3c48; }
  .main-sidebar .ant-menu-dark .ant-menu-item,
  .main-sidebar .ant-menu-dark .ant-menu-item-group-title,
  .main-sidebar .ant-menu-dark .ant-menu-item > a {
    color: #a0a9b1; }
  .main-sidebar .ant-menu-inline-collapsed {
    width: 64px; }
    .main-sidebar .ant-menu-inline-collapsed > .ant-menu-item {
      padding: 0 23px !important; }
  .main-sidebar .logo {
    height: 24px;
    background: rgba(255, 255, 255, 0.2);
    margin: 15px; }
  @media (max-width: 992px) {
    .main-sidebar.ant-layout-sider-collapsed {
      flex: 0 0 0px !important;
      max-width: 0px !important;
      min-width: 0px !important;
      width: 0px !important;
      overflow: hidden; } }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px; }

/* Color/shape of close button cross */
.bm-cross {
  background: #bcc2c8; }

/* General sidebar styles */
.bm-menu {
  background: #233440;
  padding: 10px 0; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47; }

/* Wrapper for item list */
.bm-item-list {
  color: #a0a9b1; }

/* Individual item */
.bm-item {
  display: inline-block; }

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3); }

.bm-menu-wrap {
  max-width: 80%; }

.main-layout {
  background: #1f2f39;
  min-height: 100vh; }
  .main-layout .main-content {
    margin: 24px 16px 15px;
    margin-top: 70px;
    flex: 1; }
    @media (min-width: 992px) {
      .main-layout .main-content {
        margin-left: 80px; } }

.app-layout {
  overflow-x: hidden; }

.main-layout {
  width: calc(100% - 64px);
  flex-shrink: 0; }

.profile-menu .user-name {
  color: #bcc2c8; }

.profile-menu .user-email {
  color: #76838f;
  font-size: 12px; }

.profile-menu .logout i {
  margin-right: 10px;
  font-size: 12px; }

.ant-tabs .ant-tabs-bar {
  border-bottom: 1px solid #2a3c48; }

.ant-tabs .ant-tabs-nav .ant-tabs-tab {
  color: #a0a9b1; }

.ant-tabs .ant-tabs-content > .ant-tabs-tabpane {
  color: #a0a9b1; }

.inbox .inbox-item {
  transition: all 0.15s ease-in;
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #2a3c48; }
  .inbox .inbox-item-time {
    font-size: 10px;
    color: #76838f; }
  .inbox .inbox-item-name {
    color: #bcc2c8; }
  .inbox .inbox-item:hover {
    background: #2a3c48; }

.alerts .alert-header {
  margin: 0 5px;
  padding: 10px;
  background: #2a3c48; }
  .alerts .alert-header > span {
    margin-right: 10px; }

.alerts .alerts-item {
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #2a3c48;
  background: #2a3c48;
  margin: 5px;
  display: flex; }
  .alerts .alerts-item-icon {
    padding-top: 6px; }
  .alerts .alerts-item-content {
    margin-left: 5px; }
  .alerts .alerts-item .top {
    display: flex;
    align-items: flex-end; }
  .alerts .alerts-item-title {
    color: #bcc2c8; }
  .alerts .alerts-item-time {
    color: #76838f;
    margin-left: 10px;
    font-size: 10px; }

.alerts .icon-circle {
  height: 8px;
  width: 8px;
  border-radius: 50%; }
  .alerts .icon-circle.urgent {
    background: #C14848; }
  .alerts .icon-circle.normal {
    background: #758df8; }

.widget {
  background: #233440;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.03);
  margin-bottom: 15px; }
  .widget-header {
    padding: 10px; }
    .widget-header:not(.no-background) {
      background: #2a3c48; }
  .widget-body {
    padding: 10px; }
  .widget-title {
    color: #bcc2c8;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 0; }
  .widget-subtitle {
    color: #76838f; }
  .widget .no-padding {
    padding: 0; }

.loader {
  font-size: 12px;
  margin-top: 5px; }
  .loader i {
    margin-right: 5px; }

.load-more {
  font-size: 12px;
  margin-top: 5px;
  cursor: pointer; }
  .load-more i {
    margin-right: 10px;
    font-size: 12px; }

.ant-slider-rail {
  height: 2px;
  background: #5c8cab; }

.ant-slider-track {
  height: 2px;
  background: #166e7d; }

.ant-slider-handle {
  height: 12px;
  width: 12px;
  background: #166e7d;
  border: none; }

.ant-radio-wrapper .ant-radio-inner {
  background: #5c8cab;
  border: none; }
  .ant-radio-wrapper .ant-radio-inner:after {
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    background: #166e7d;
    border: none; }

.ant-radio-wrapper span {
  color: #a0a9b1;
  font-size: 12px; }

.ant-dropdown-menu {
  background: #2a3c48; }
  .ant-dropdown-menu .ant-dropdown-menu-item-divider {
    background: #304452; }
  .ant-dropdown-menu .ant-dropdown-menu-item,
  .ant-dropdown-menu .ant-dropdown-menu-item > a,
  .ant-dropdown-menu .ant-dropdown-menu-submenu-title > a {
    color: #a0a9b1;
    font-size: 14px;
    padding: 7px 15px; }
  .ant-dropdown-menu .ant-dropdown-menu-item:hover,
  .ant-dropdown-menu .ant-dropdown-menu-submenu-title:hover {
    background: #304452; }

.ant-progress-circle-path {
  stroke: #166e7d; }

.ant-progress-circle-trail {
  stroke: #5c8cab; }

.ant-progress-circle .ant-progress-text {
  color: #76838f;
  font-size: 16px;
  font-family: "Open Sans", sans-serif; }

.light-icon {
  width: 5px;
  height: 5px;
  border-radius: 50%; }
  .light-icon.active {
    background: #166e7d;
    box-shadow: 0px 0px 15px 0px #166e7d, 0px 0px 5px 1px #166e7d; }
  .light-icon.not-active {
    background: #C14848;
    box-shadow: 0px 0px 15px 0px #C14848, 0px 0px 5px 1px #C14848; }

.stats-widget-first {
  display: flex;
  margin: 45px 0;
  color: #bcc2c8; }
  @media (min-width: 576px) {
    .stats-widget-first {
      justify-content: center; } }

.stats-widget .stats-widget-header {
  padding: 15px;
  display: flex; }
  .stats-widget .stats-widget-header .right {
    margin-left: auto;
    display: flex; }
  .stats-widget .stats-widget-header-value-element {
    margin-top: 10px; }
  .stats-widget .stats-widget-header-value {
    font-size: 20px; }
  .stats-widget .stats-widget-header-icon {
    font-size: 28px;
    padding-right: 10px; }
  .stats-widget .stats-widget-header-title {
    color: #bcc2c8;
    font-size: 20px; }
  .stats-widget .stats-widget-header-subtitle {
    color: #76838f; }

.stats-widget .stats-widget-body {
  padding-top: 0; }
  .stats-widget .stats-widget-body .stats-widget-chart {
    margin: 0 auto; }
    .stats-widget .stats-widget-body .stats-widget-chart svg {
      vertical-align: top; }

#geo-chart {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.ant-progress-inner {
  height: 2px;
  background: #5c8cab; }
  .ant-progress-inner .ant-progress-bg {
    height: 2px !important;
    background: #166e7d; }

.ant-progress-text {
  color: #76838f;
  font-size: 12px; }

.logs-widget .ant-timeline {
  color: #a0a9b1; }
  .logs-widget .ant-timeline p {
    margin-bottom: 5px; }
  .logs-widget .ant-timeline .ant-timeline-item-tail {
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    left: 3px;
    top: 0.25em; }
  .logs-widget .ant-timeline .ant-timeline-item-head {
    border-color: #758df8;
    background-color: #233440;
    width: 8px;
    height: 8px; }
  .logs-widget .ant-timeline .logs-item .logs-item-date {
    color: #475057;
    font-size: 10px; }
  .logs-widget .ant-timeline .logs-item .logs-item-text {
    padding-bottom: 10px; }

.traffic-widget .widget-header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.traffic-widget .chart-container {
  height: 290px;
  padding: 35px 35px 20px; }

.traffic-widget .traffic-stats {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .traffic-widget .traffic-stats-item {
    text-align: center; }
    .traffic-widget .traffic-stats-item-value {
      font-size: 30px; }

.contacts-widget {
  padding-right: 15px; }
  .contacts-widget .ant-list-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 6px 0; }
    .contacts-widget .ant-list-item:first-child {
      padding-top: 0; }
  .contacts-widget .ant-list-item-meta {
    align-items: center; }
    .contacts-widget .ant-list-item-meta .ant-list-item-meta-title div {
      color: #a0a9b1;
      font-size: 12px; }
    .contacts-widget .ant-list-item-meta .ant-list-item-meta-description {
      color: #76838f; }
      .contacts-widget .ant-list-item-meta .ant-list-item-meta-description .phone, .contacts-widget .ant-list-item-meta .ant-list-item-meta-description .email, .contacts-widget .ant-list-item-meta .ant-list-item-meta-description .address {
        font-size: 12px;
        line-height: 1.4; }

.sources-widget .chart-container {
  height: 290px;
  padding: 15px; }

.sources-widget .widget-header .time-button {
  margin-left: auto;
  text-transform: capitalize;
  background: #354f61;
  color: #bcc2c8;
  border: none; }

@media (min-width: 992px) {
  .sources-widget .ant-table {
    margin-top: 25px; } }

.sources-widget .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th {
  background: transparent;
  color: #a0a9b1; }

.sources-widget .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td,
.sources-widget .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.sources-widget .ant-table-small {
  border: none; }

.sources-widget .ant-table {
  color: #a0a9b1; }

.sources-widget .ant-table-tbody > tr:hover > td {
  background: #2c4150; }

.users .ant-table-body {
  overflow-x: auto; }

.users .ant-table-placeholder {
  background: #233440;
  color: #bcc2c8;
  border: none; }

.users .ant-table table {
  border-spacing: 0 5px;
  margin-top: -5px; }
  .users .ant-table table th, .users .ant-table table td {
    color: #a0a9b1;
    border-bottom: none;
    background: #233440;
    white-space: nowrap; }
  .users .ant-table table th {
    background: #2a3c48;
    font-weight: 300; }
  .users .ant-table table td {
    padding: 8px 16px; }
  .users .ant-table table .info-field-name {
    color: #bcc2c8;
    font-size: 16px; }
  .users .ant-table table .info-field-email, .users .ant-table table .info-field-phone {
    color: #76838f;
    font-size: 12px; }
  .users .ant-table table .phone-field {
    font-size: 12px; }
  .users .ant-table table .progress-field .ant-progress-outer {
    min-width: 100px; }
  .users .ant-table table .progress-field .ant-progress-inner {
    height: 4px;
    background: #5c8cab; }
    .users .ant-table table .progress-field .ant-progress-inner .ant-progress-bg {
      height: 4px !important;
      background: #166e7d; }
  .users .ant-table table .progress-field .ant-progress-text {
    color: #a0a9b1;
    font-size: 12px;
    padding-left: 5px; }

.users .ant-pagination li:not(.ant-pagination-jump-next) {
  border: none;
  background: #233440; }
  .users .ant-pagination li:not(.ant-pagination-jump-next) a {
    background: #233440;
    color: #a0a9b1; }

.users .ant-pagination .ant-pagination-item-link {
  border: none; }

.users .ant-pagination .ant-select-selection,
.users .ant-pagination .ant-select-selection--single,
.users .ant-pagination .ant-select-arrow {
  box-shadow: none;
  background: #233440;
  color: #a0a9b1;
  border: none; }

.users .ant-pagination .ant-pagination-jump-prev:after,
.users .ant-pagination .ant-pagination-jump-next:after,
.users .ant-pagination .ant-select-dropdown-menu-item {
  color: #a0a9b1; }

.users .ant-pagination .ant-pagination-item-active,
.users .ant-pagination .ant-pagination-item-active a {
  background: #334958 !important; }

.users .ant-table-column-sorter i {
  color: #bcc2c8; }

.users .light-icon {
  margin-left: 20px; }

.search-widget input {
  background: none;
  border: none;
  border-bottom: 1px solid #76838f;
  color: #76838f;
  border-radius: 0; }
  .search-widget input:focus {
    box-shadow: none; }
  .search-widget input::-webkit-input-placeholder {
    color: #76838f; }
  .search-widget input:-moz-placeholder {
    color: #76838f; }
  .search-widget input::-moz-placeholder {
    color: #76838f; }
  .search-widget input:-ms-input-placeholder {
    color: #76838f; }

.search-widget i {
  color: #76838f; }

.user-stat .title {
  color: #76838f; }

.user-stat .value-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .user-stat .value-wrapper .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px; }
  .user-stat .value-wrapper .value {
    font-size: 46px;
    font-weight: 100;
    font-family: "Montserrat", sans-serif; }
  .user-stat .value-wrapper .change {
    color: #76838f;
    font-size: 16px; }
  .user-stat .value-wrapper i {
    font-size: 30px;
    color: #166e7d; }

.filters-widget .title {
  color: #76838f; }

.filters-widget .filters-item {
  display: flex;
  align-items: center;
  margin: 5px 0; }
  .filters-widget .filters-item-title {
    margin-right: 10px;
    color: #a0a9b1; }
  .filters-widget .filters-item-element {
    flex: 1; }

.marker-info {
  color: #76838f; }

.server-item .up-time {
  color: #166e7d;
  margin-left: 5px; }

.server-item .widget-title {
  color: #a0a9b1;
  padding-bottom: 5px; }
  .server-item .widget-title:not(.no-border) {
    border-bottom: 1px solid #2a3c48; }

.server-item .content {
  display: flex;
  align-items: center;
  padding-top: 5px; }
  .server-item .content .content-item {
    text-align: center;
    margin-right: 25px; }
    .server-item .content .content-item .label {
      color: #76838f;
      margin-right: 10px;
      font-size: 10px; }
    .server-item .content .content-item .value {
      color: #a0a9b1; }
      .server-item .content .content-item .value span:first-child {
        font-size: 30px;
        font-weight: 100;
        font-family: "Montserrat", sans-serif; }
      .server-item .content .content-item .value span:last-child {
        margin-left: 5px; }

.server-item .recharts-tooltip-item-name {
  font-size: 12px !important;
  color: #76838f !important;
  font-family: "Open Sans", sans-serif !important; }

.server-item .recharts-layer text {
  font-size: 12px; }

.back {
  cursor: pointer;
  color: #76838f;
  display: flex;
  align-items: center;
  margin-bottom: 10px; }
  .back i {
    font-size: 18px;
    margin-right: 5px; }
  .back span {
    font-size: 12px; }

.server-list-item {
  padding: 10px;
  background: #233440;
  transition: all 0.2s ease-in;
  margin-bottom: 10px;
  cursor: pointer; }
  .server-list-item:hover {
    background: #2a3c48; }
  .server-list-item .left {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .server-list-item .light-icon {
    margin-right: 20px; }
  .server-list-item .top {
    border-bottom: 1px solid #2a3c48;
    padding-bottom: 5px; }
  .server-list-item .content {
    padding-top: 5px; }
    .server-list-item .content .content-item {
      display: flex;
      font-size: 12px; }
      .server-list-item .content .content-item .label {
        color: #76838f;
        margin-right: 15px; }
      .server-list-item .content .content-item .value {
        color: #bcc2c8; }
        .server-list-item .content .content-item .value span {
          color: #76838f;
          font-size: 10px;
          margin-left: 10px; }
